*{
margin: 0 ;
padding: 0;
box-sizing: border-box;

}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(218, 214, 232, 0.758);
    
}

section{
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(185, 184, 201, 0.796);
    border-radius: 10px;
    box-shadow: 0 4px 10px #7d88c1;

}
h1{
    text-align: center;

}

label, input[number], button {
    display: block;
    width: 100%;
    padding: 2px;
    margin: 15px 0;

}
button{
padding: 10px;
background-color: hsla(222, 89%, 50%, 0.682);
border: none;
border-radius: 10px;
cursor: pointer;

}

button:hover{
    background-color: rgb(41, 38, 238);
}

footer{
background-color: #1537d0df; text-align: center; padding: 20px; margin-top: 20px;
}